<div>
    <ul id="myTab" class="nav nav-tabs">
	    <li class="active">
		    <a href="#node" data-toggle="tab">节点</a>
	    </li>
	    <li>
            <a href="#process" data-toggle="tab">控制台</a>
	    </li>
	    <li>
            <a href="#log" data-toggle="tab">进程管理</a>
	    </li>
    </ul>

    <div id="myTabContent" class="tab-content">
	    <div class="tab-pane fade in active" id="node">
		    <div style="margin:20px 0px">
                <a ng-click="getNodeList()"><b>节点列表</b></a>
                <button class="btn btn-primary" ng-click="addNode()" style="float:right;">添加</button>
            </div>
            <li ng-repeat="x in nodelist" style="background:#e0e0e0;margin:10px 0;list-style-type:none;font-size:15px" ng-click="getResInfo(event)">
                {{x.ip}}

            </li>

            <ul class="pagination">
	            <li><a href="#">&laquo;</a></li>
	            <li><a href="#">1</a></li>
	            <li><a href="#">2</a></li>
	            <li><a href="#">3</a></li>
	            <li><a href="#">4</a></li>
	            <li><a href="#">5</a></li>
	            <li><a href="#">&raquo;</a></li>
            </ul>

            <div class="panel panel-default" style="margin-top:100px">
	            <div class="panel-heading">
		            <h4 class="panel-title">
			            {{satus}}详情
		            </h4>
	            </div>
	            <div class="panel-body">
		            {{info}}
	            </div>
            </div>
	    </div>
	<div class="tab-pane fade" id="process">
		<h3>命令行控制台</h3>
        远程主机IP： <input type="text" ng-model="remoteHostIP"/>
        <button class="btn btn-primary" ng-click="startRemoteProcess()">运行</button><br />
        <textarea rows="10" cols="120" ng-model="cmdScript"></textarea>
        <p>{{remoteProcessResult}}</p>
</div>

	<div class="tab-pane fade" id="log">
		进程列表: 
        <button class="btn btn-primary" ng-click="getProcessList()">新建进程</button>
        <li ng-repeat="x in processList" style="background:#e0e0e0;margin:10px 0;list-style-type:none;font-size:15px" ng-click="#">
            {{x}}
        </li>
        

        
	</div>
</div>

</div>